/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.top-header .navbar {
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.top-header {
  background: #ffffff;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
}

.top-header .navbar .navbar-collapse ul li a {
  padding: 19px 15px;
  text-transform: capitalize;
  font-size: 18px;
  color: var(--primary-dark);
}

.top-header .navbar .navbar-collapse ul li a.active {
  background: var(--primary-dark);
  color: #ffffff;
}

.top-header .navbar .navbar-collapse ul li a:hover {
  background: var(--primary-dark);
  color: #ffffff;
}

.top-header.fixed-menu {
  width: 100%;
  position: fixed;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff;
  z-index: 20;
}

.navbar-toggler {
  border-radius: 0;
  margin: 16px 15px;
  padding: 10px 10px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-toggler span {
  background: var(--primary);
  display: block;
  width: 25px;
  height: 2px;
  margin: 0 auto;
  margin-top: 0px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-toggler span + span {
  margin-top: 5px;
}

.navbar-toggler:hover {
  border: 1px solid var(--primary);
}

.navbar-toggler:hover span {
  background: var(--primary);
}

#logo {
  height: 100px;
}

/* Large Tablets */
@media (min-width: 992px) and (max-width: 1190px) {
  .top-header .navbar .navbar-collapse ul li a {
    font-size: 14px;
  }
}

/* Tablet */

@media (min-width: 601px) and (max-width: 991px) {
  /* Navbar */
  .top-header {
    position: relative;
  }

  .top-header .navbar .navbar-collapse ul li a {
    padding: 5 px 15px;
  }
}

/* Mobile */

@media (max-width: 600px) {
  /* Navbar */
  .navbar-brand {
    margin-left: 10px;
    margin-right: 10px;
  }
  .top-header {
    position: relative;
  }
  .top-header .navbar .navbar-collapse ul li a {
    padding: 5px 15px;
  }
}
