.contact-form {
  background: #fff;
  margin-top: 10%;
  margin-bottom: 5%;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-image {
  text-align: center;
}
.contact-image img {
  border-radius: 6rem;
  background: white;
  width: 11%;
  margin-top: -3%;
}
.contact-form form {
  padding: 8%;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h1 {
  margin-bottom: 3%;
  margin-top: -8%;
  text-align: center;
  color: var(--primary);
  font-size: 5em;
}
.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  border: 1px solid var(--primary);
  background: white;
  font-weight: 600;
  color: var(--primary);
  cursor: pointer;
  transition: 0.5s;
}
.btnContact:hover {
  background: var(--primary);
  color: white;
}
